In [19]:
import re
import time
import random
import sqlite3
import os
import pandas as pd

In [29]:
conn = sqlite3.connect('test-database.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS bunBan (
    lecNumber TEXT,
    A1 TEXT,
    A2 TEXT,
    A3 TEXT,
    B1 TEXT,
    FOREIGN KEY (lecNumber) REFERENCES LectureTable (lecNumber)
)
''')

lecNum = "7000-1-3362-01"
bunBan = "A1"

sql_query = f'''
    UPDATE bunBan 
    SET A1 = ? 
    WHERE lecNumber = ?
'''
cursor.execute(sql_query, ("전공", lecNum))
conn.commit()

conn.close()

|                | A1  | A2  | A3  | B1  |
| -------------- | --- | --- | --- | --- |
| 0000-1-8128-01 |     |     |     |     |
| 0000-1-8128-02 |     |     |     |     |
| 7000-1-3362-01 |     |     |     |     |
| 7000-1-3362-02 |     |     |     |     |
| 4520-1-8512-02 |     |     |     |     |
| 4520-1-8512-02 |     |     |     |     |