### 2학기 CSV

1. pdf 전체 -> csv

In [79]:
import pdfplumber
import pandas as pd

# PDF 파일 경로
pdf_file_path = r"./libs/pdf/3-1. 강의시간표 전체(2024-2).pdf"

# 저장할 CSV 파일 경로 .\libs\csv
csv_file_path = ".\libs\csv/kwu-24-2-timetable.csv"

# 데이터를 저장할 리스트 초기화
data = []

# PDF 파일 열기
with pdfplumber.open(pdf_file_path) as pdf:
    # 각 페이지 순회
    for page in pdf.pages:
        # 페이지에서 표 추출
        table = page.extract_table()
        if table:
            # 추출된 표 데이터를 리스트에 추가
            data.extend(table)

# 데이터가 없는 빈 행을 필터링
filtered_data = [row for row in data if any(cell.strip() for cell in row)]

# 추출된 데이터를 DataFrame으로 변환
df = pd.DataFrame(filtered_data[1:], columns=filtered_data[0])  # 첫 번째 행을 헤더로 사용

# DataFrame을 CSV 파일로 저장
df.to_csv(csv_file_path, index=False)

print("CSV 파일이 저장되었습니다.")

CSV 파일이 저장되었습니다.

2. 페이지 중복 헤더/비고 삭제 -> 학정번호 형식이 아닌거 삭제

In [81]:
import re

# 학정번호 형식을 정규 표현식으로 정의 (예: I040-2-6387-02)
pattern = r'^[A-Za-z0-9]+-\d-\d{4}-\d{2}$'

# 학정번호 형식과 일치하는 행만 남기기
df = df[df['학정번호'].apply(lambda x: bool(re.match(pattern, str(x))))]

In [82]:
df

,학정번호,과목명,분반,연계,이수,학점,시수,담당교수,"강의시간\n(요일,교시)",강의유형
0,0000-1-8128-01,광운인되기,외국인학생\n수강불가,,교필,1,1,김정권,,"원격수업100%,융합강의\n1학기 또는 2학기 이수"
1,0000-1-8128-02,광운인되기,외국인만\n수강가능,,교선,1,1,한재현,금2,외국인전용
2,I000-1-3362-01,대학영어,"인공지능\n융합대학\n공통\n(C1~C9,J5~J8)",,교필,3,3,이진영,"월1,수2",
3,I000-1-3362-02,대학영어,None,,교필,3,3,손영희,"월2,수1",
4,I000-1-3362-03,대학영어,None,,교필,3,3,오경애,"월3,수4",
...,...,...,...,...,...,...,...,...,...,...
1634,0000-1-4837-01,K콘텐츠트랜드의이해,예술과체육,,교선,3,3,김재영,"토5,6",
1635,0000-3-3200-04,운동과건강,예술과체육,,교선,3,3,김준희,"토1,2",
1638,J020-1-4505-01,헌법과자산,V1,,전선,3,3,손상식,"수7,8,9",
1639,J020-1-4506-01,부동산자산관리론,V1,,전선,3,3,,"토1,2",원격수업50%이상
1640,J020-1-5002-01,계약법실무,V1,,전선,3,3,신주희,"토3,4",